@import "../\ core/variables.scss";

.text-develop {
  color: $color-primary;
}
.text-develop:hover {
  color: $color-secondary;
  font-size: x-large;
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}
.mainArea {
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  &__legend {
    display: flex;
    flex-direction: column;
    &-stack {
      &-tech {
        border-style: solid;
        margin-left: 0.15em;
        border-width: 13px 0px 13px 13px;
        border-color: transparent transparent transparent rgb(0, 0, 0);
        position: relative;
        display: inline-block;
        top: 0.15em;
        margin-right: 1.05em;
      }
    }
    &-tools {
      &-language {
        height: 25px;
        width: 4px;
        background-color: #040404;
        position: relative;
        left: 0.2em;
        top: 0.35em;
        display: inline-block;
        margin-right: 1.6em;
        transform: rotate(0.25turn);
      }
    }
    &-area {
      &-circle {
        height: 25px;
        width: 25px;
        border-radius: 50%;
        background-color: #040404;
        display: inline-block;
        margin-right: 0.8em;
        position: relative;
        top: 0.25em;
      }
    }
    &-infography {
      position: relative;
      top: 3.15em;
    }
  }
  &__projectViewer {
    &-containerViewer {
      height: 16em;
      width: 23em;
      background-color: $color-lightMedium;
      box-shadow: 0px 1px 25px 20px #bcfff9;
      margin-bottom: 4em;
      border-radius: 0.2em;
      &-btnPrevius {
        align-self: end;
        position: relative;
        top: 105px;
        right: 27px;
        height: 3.5em;
        width: 3.5em;
        border-radius: 50%;
        border-style: none;
        background-color: $color-white;
        background-image: url(../../assets/icons/arrow-pIzq.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 1em;
        box-shadow: 0px 0px 20px 0px $color-shadowPrimary;
        cursor: pointer;
        outline: inherit;
      }
      &-btnPrevius:hover {
        background-color: $color-secondary;
        background-image: url(../../assets/icons/arrow-nIzq.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 1em;
        box-shadow: 0px 0px 20px 0px $color-secondary;
      }
      &-btnNext {
        left: 305px;
        align-self: end;
        position: relative;
        top: 105px;
        right: 35px;
        height: 3.5em;
        width: 3.5em;
        border-radius: 50%;
        border-style: none;
        background-color: $color-white;
        background-image: url(../../assets/icons/arrow-pDcha.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 1em;
        box-shadow: 0px 0px 20px 0px $color-shadowPrimary;
        cursor: pointer;
        outline: inherit;
      }
      &-btnNext:hover {
        background-color: $color-secondary;
        background-image: url(../../assets/icons/arrow-nDcha.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 1em;
        box-shadow: 0px 0px 20px 0px $color-secondary;
      }
      &-img {
        background-image: url(../../assets/images/project01.png);
        background-position: inherit;
        background-repeat: no-repeat;
        background-size: cover;
        height: 16em;
        // display: flex;
        // flex-direction: row;
        // justify-content: space-around;
      }
    }
    &-description {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  }
}
