@import "./\ core/variables.scss";
.header {
  background-color: $color-primary;
  width: 100vw;
  height: 0vh;
}
.home {
  background-color: transparent;
  background-image: url("../assets/icons/Iso-nicons.svg");
  background-repeat: no-repeat;
  background-size: 2.9em;
  background-position: bottom;
  background-position-y: 5.3em;
  background-position-x: 0.5em;
  height: 8em;
  width: 4.2em;
  margin: 0 0 0 2em;
  border: none;
  outline: none;
  position: relative;
  bottom: 2.5em;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 0.7em;
}
.home:hover {
  background-image: url("../assets/icons/Iso-picons.svg");
  color: $color-secondary;
  font-weight: 900;
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}
// section container projects
.mainLanding {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  &__isotype {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
  }
  &__infographic {
    background-image: url("../assets/icons/isoEB-ngicons.svg");
    background-repeat: no-repeat;
    align-self: center;
    background-position: center;
    height: 15em;
    width: 15em;
  }
  &__menu {
    display: inline;
    align-self: flex-end;
  }
}

// nav menu
.menu__list {
  display: flex;
  flex-direction: row;
  list-style: none;
  list-style-type: none;
  text-align: center;
  &-linkProjects {
    text-decoration: none;
    &-projects {
      background-image: url("../assets/icons/work-nicons.svg");
      background-repeat: no-repeat;
      background-position-y: 2em;
      background-position-x: 1em;
      background-size: 2.5em;
      color: #040404;
      font-family: "Roboto", sans-serif;
      font-size: 0.7em;
      // font-weight: 400;
      position: relative;
      height: 4.5em;
      width: 4em;
      margin-right: 4em;
      margin-top: 1em;
    }
    &-projects:hover {
      background-image: url("../assets/icons/work-picons.svg");
      background-repeat: no-repeat;
      background-position-y: 2em;
      background-position-x: 1em;
      color: $color-secondary;
      font-weight: 700;
      transform: scale(1.05);
      transition: all 0.3s ease-in-out;
    }
  }
  &-linkAbout {
    text-decoration: none;
    &-about {
      background-image: url("../assets/icons/about-nicons.svg");
      background-repeat: no-repeat;
      background-position-y: 2em;
      background-position-x: 1em;
      background-size: 2.5em;
      color: $color-primary;
      font-family: "Roboto", sans-serif;
      font-size: 0.7em;
      position: relative;
      top: 0px;
      height: 4.5em;
      width: 4em;
      margin-right: 4em;
      margin-top: 1em;
    }
    &-about:hover {
      background-image: url("../assets/icons/about-picons.svg");
      background-repeat: no-repeat;
      background-position-y: 2em;
      background-position-x: 1em;
      color: $color-secondary;
      font-weight: 700;
      transform: scale(1.05);
      transition: all 0.3s ease-in-out;
    }
  }
}

// MEDIAQUERIES

// tablets
@media all and (min-width: 768px) {
  .home {
    background-size: 3.5em;
    background-position-y: 6.3em;
    background-position-x: 0.1em;
    height: 9.5em;
    width: 4.6em;
    font-size: 1em;
  }
  .mainLanding {
    flex-direction: row-reverse;
    &__infographic {
      height: 24em;
      width: 24em;
    }
    &__menu {
      align-self: center;
      height: 18em;
    }
  }
  .menu__list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2px;
    grid-template-rows: repeat(3, 1fr);
    &-linkProjects {
      grid-column: 2;
      grid-row: 1;
      &-projects {
        grid-column: 2;
        grid-row: 1;
        font-size: 1em;
      }
    }
    &-linkAbout {
      grid-column: 2;
      grid-row: 3;
      &-about {
        grid-column: 2;
        grid-row: 3;
        font-size: 1em;
      }
    }
  }
}

// @media all and (min-width: 1024px) {
//   .mainLanding {
//     flex-direction: row-reverse;
//     &__infographic {
//       height: 26em;
//       width: 26em;
//     }
//   }
// }
// @media all and (min-width: 1920px) {
// }
