@import "./\ core/variables.scss";
.header {
  background-color: $color-primary;
  width: 100vw;
  height: 0vh;
}
.home {
  background-color: transparent;
  background-image: url("../assets/icons/home-nicons.svg");
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  margin: 20px 0px 0px 40px;
  border: none;
  outline: none;
}
// section container projects
.mainLanding {
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  &__isotype {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
  }
  &__infographic {
    background-image: url("../assets/icons/isoEB-ngicons.svg");
    background-repeat: no-repeat;
    align-self: center;
    background-position: center;
    height: 45vh;
    width: 45vh;
  }
  &__menu {
    display: flex;
  }
}

// aside menu
.menu__list {
  list-style: none;
  list-style-type: none;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 5px;
  &-linkProjects {
    text-decoration: none;
    background-image: url("../assets/icons/work-nicons.svg");
    background-repeat: no-repeat;
    margin-top: 50px;
    width: 25px;
    grid-column: 2;
    grid-row: 2;
    &-projects {
      color: $color-primary;
      font-family: "Roboto", sans-serif;
      font-size: 12px;
      font-weight: 400;
      position: relative;
      bottom: 25px;
      right: 15px;
    }
    &-projects:hover {
      color: $color-secondary;
      font-weight: 700;
      transform: scale(1.05);
      transition: all 0.3s ease-in-out;
    }
  }
  &-linkProjects:hover {
    background-image: url("../assets/icons/work-picons.svg");
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
  }
  &-linkAbout {
    text-decoration: none;
    background-image: url("../assets/icons/about-nicons.svg");
    background-repeat: no-repeat;
    height: 75px;
    width: 25px;
    grid-column: 2;
    grid-row: 4;
    text-align: center;
    &-about {
      color: $color-primary;
      font-size: 12px;
      font-family: "Roboto", sans-serif;
      position: relative;
      top: 35px;
    }
    &-about:hover {
      color: $color-secondary;
      font-weight: 700;
      transform: scale(1.05);
      transition: all 0.3s ease-in-out;
    }
  }
  &-linkAbout:hover {
    background-image: url("../assets/icons/about-picons.svg");
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
  }
}

// MEDIAQUERIES
// large phones
// @media all and (min-width: 600px) {
// }

// tablets
@media all and (min-width: 768px) {
  .main {
    &__infographic {
      height: 60vh;
      width: 60vh;
    }
    &__menu-list {
      grid-template-columns: repeat(6, 1fr);
      grid-gap: 2px;
      grid-template-rows: repeat(5, 1fr);
      &-projects {
        grid-column: 3;
        grid-row: 2;
      }
      &-about {
        grid-column: 3;
        grid-row: 4;
      }
    }
  }
}
// // @media all and (min-width: 992px) {
// }
// @media all and (min-width: 1200px) {
// }
