@import "./\ core/variables.scss";
// button
// section container projects
.mainProjects {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  &__artProjects {
    position: relative;
    bottom: 30px;
  }
  &__containerProjects {
    // height: 100vh;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    &-develop {
      display: flex;
      // flex-direction: column-reverse;
      // //
      // flex-direction: column;
    }
    &-develop:hover {
      transition: all 0.3s ease-in-out;
      transform: scale(1.3);
    }
    &-design {
      display: flex;
      flex-direction: column-reverse;
      //
      flex-direction: column;
    }
    &-design:hover {
      transition: all 0.3s ease-in-out;
      transform: scale(1.3);
    }
    &-art {
      display: flex;
      flex-direction: column-reverse;
      //
      flex-direction: column;
    }
    &-art:hover {
      transition: all 0.3s ease-in-out;
      transform: scale(1.3);
    }
    &-text {
      color: $color-primary;
      text-align: center;
      font-family: "Roboto", sans-serif;
      font-weight: bold;
    }
  }
  &__menu {
    align-self: flex-end;
    position: absolute;
    top: 1em;
    right: 1em;
  }
}
.linksSections {
  text-decoration: none;
  z-index: 1;
}
.linksSections:hover {
  font-weight: bolder;
  -webkit-text-decoration: line-through $color-secondary;
  text-decoration: line-through #ff9071d5 5px;
}

// aside menu
.menu__listPyA {
  list-style: none;
  list-style-type: none;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  &-linkProjectsPyA {
    text-decoration: none;
    grid-column: 2;
    grid-row: 1;
    text-align: center;
    &-projectsPyA {
      background-image: url("../assets/icons/work-nicons.svg");
      background-repeat: no-repeat;
      background-position-y: 2em;
      background-position-x: 1em;
      background-size: 2.5em;
      height: 4.5em;
      width: 4em;
      color: $color-primary;
      font-family: "Roboto", sans-serif;
      font-size: 0.7em;
    }
    &-projectsPyA:hover {
      background-image: url("../assets/icons/work-picons.svg");
      background-repeat: no-repeat;
      color: $color-secondary;
      transform: scale(1.05);
      transition: all 0.3s ease-in-out;
    }
  }

  &-linkAboutPyA {
    text-decoration: none;
    grid-column: 4;
    grid-row: 1;
    text-align: center;
    &-aboutPyA {
      text-decoration: none;
      background-image: url("../assets/icons/about-nicons.svg");
      background-repeat: no-repeat;
      background-position-y: 2em;
      background-position-x: 1em;
      background-size: 2.5em;
      height: 4.5em;
      width: 4em;
      color: $color-primary;
      font-size: 12px;
      font-family: "Roboto", sans-serif;
    }
    &-aboutPyA:hover {
      background-image: url("../assets/icons/about-picons.svg");
      background-repeat: no-repeat;
      color: $color-secondary;
      font-weight: 700;
      transform: scale(1.05);
      transition: all 0.3s ease-in-out;
    }
  }
}

// MEDIAQUERIES

// tablets
@media all and (min-width: 768px) {
  .mainProjects {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    &__containerProjects {
      flex-direction: row;
      justify-content: space-around;
      height: 0;
      &-develop {
        display: flex;
        flex-direction: column;
      }
      &-design {
        display: flex;
        flex-direction: column;
      }
      &-art {
        display: flex;
        flex-direction: column;
      }
    }
    &__infographic {
      height: 18em;
      width: 18em;
    }
    &__menu {
      // height: 100vh;
      align-self: center;
      position: inherit;
    }
  }
  .menu {
    &__listPyA {
      // height: 100vh;
      list-style: none;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 2.5em;
      grid-template-rows: repeat(5, 1fr);
      margin-bottom: -7em;
      &-linkProjectsPyA {
        grid-column: 1;
        grid-row: 3;
        &-projectsPyA {
          font-size: 1em;
        }
      }
      &-linkAboutPyA {
        grid-column: 1;
        grid-row: 5;
        &-aboutPyA {
          font-size: 1em;
        }
      }
    }
  }
}
