@import "./\ core/variables.scss";

// section container projects
.mainProjects {
  height: 100vh;
  display: flex;
  justify-content: flex-end;

  &__containerProjects {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    // height: 100vh;
    &-develop {
      // padding-right: 70%;
      display: flex;
      flex-direction: column;
    }
    &-develop:hover {
      transition: all 0.3s ease-in-out;
      transform: scale(1.3);
    }
    &-design {
      // padding-right: 70%;
      display: flex;
      flex-direction: column;
    }
    &-design:hover {
      transition: all 0.3s ease-in-out;
      transform: scale(1.3);
    }
    &-art {
      // padding-left: 70%;
      display: flex;
      flex-direction: column;
    }

    &-art:hover {
      transition: all 0.3s ease-in-out;
      transform: scale(1.3);
    }
    &-textDev {
      color: $color-primary;
      text-align: center;
      font-family: "Roboto", sans-serif;
      font-weight: bold;
    }
    &-textDev:hover {
      color: $color-secondary;
      text-align: center;
      font-family: "Roboto", sans-serif;
      font-weight: bolder;
      transition: all 0.2s ease-in-out;
    }
    &-textDes {
      color: $color-primary;
      text-align: center;
      font-family: "Roboto", sans-serif;
      font-weight: bold;
    }
  }
  &__menu {
    display: flex;
  }
}
// .linksSections {
//   display: flex;
//   // height: 50px;
//   // flex-direction: row;
//   // text-decoration: none;
//   // justify-content: space-between;
//   // align-items: center;
//   // align-content: center;
//   background-color: red;
// }

// aside menu
.menu__list {
  margin-right: 40px;
  list-style: none;
  list-style-type: none;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 5px;
  &-linkProjects {
    text-decoration: none;
    background-image: url("../assets/icons/work-nicons.svg");
    background-repeat: no-repeat;
    margin-top: 50px;
    width: 25px;
    grid-column: 2;
    grid-row: 2;
    &-projects {
      color: $color-primary;
      font-family: "Roboto", sans-serif;
      font-size: 12px;
      font-weight: 400;
      position: relative;
      bottom: 25px;
      right: 15px;
    }
    &-projects:hover {
      color: $color-secondary;
      font-weight: 700;
      transform: scale(1.05);
      transition: all 0.3s ease-in-out;
    }
  }
  &-linkProjects:hover {
    background-image: url("../assets/icons/work-picons.svg");
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
  }

  &-linkAbout {
    text-decoration: none;
    background-image: url("../assets/icons/about-nicons.svg");
    background-repeat: no-repeat;
    height: 75px;
    width: 25px;
    grid-column: 2;
    grid-row: 4;
    text-align: center;
    &-about {
      color: $color-primary;
      font-size: 12px;
      font-family: "Roboto", sans-serif;
      position: relative;
      top: 35px;
    }
    &-about:hover {
      color: $color-secondary;
      font-weight: 700;
      transform: scale(1.05);
      transition: all 0.3s ease-in-out;
    }
  }
  &-linkAbout:hover {
    background-image: url("../assets/icons/about-picons.svg");
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
  }
}
