// inital palette
$color-primary: #040404;
$color-secondary: #ff8f71;
$color-white: #fff;

// second palette
$color-ligth: #e5fffd;
$color-lightMedium: #bcfff9;
// shadow opacity 50% x-1px y-2px desenfoque 46px
$color-medium: #b0ece6;
$color-mediumDark: #b2dfdb;
$color-dark: #82adaa;
