@import "../../\ core/variables.scss";

.containerDevelop {
  // display: flex;
  &__areaDevelop {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: $color-primary;
    z-index: 1;
    position: relative;
    bottom: 165px;
    left: 65px;
  }
  &__stackDevelop {
    width: 90px;
    height: 130px;
    border: 2px solid $color-primary;
    border-radius: 100px 0 0 100px;
    border-right: thin;
    border-left: 2px dashed $color-primary;
    // border-top: 2px dashed $color-primary;
    border-bottom: 2px solid transparent;
    border-top: 2px dashed #040404;

    &-line0 {
      height: 20px;
      width: 3px;
      background-color: $color-primary;
      position: relative;
      display: inline-block;
      left: 0px;
      top: 34px;
      transform: rotate(0.3turn);
    }
    &-line1 {
      height: 20px;
      width: 3px;
      background-color: $color-secondary;
      position: relative;
      display: inline-block;
      left: 4px;
      bottom: -16px;
      transform: rotate(0.33turn);
    }
    &-line2 {
      height: 20px;
      width: 3px;
      background-color: $color-secondary;
      position: relative;
      display: inline-block;
      left: 12px;
      bottom: -4px;
      transform: rotate(0.86turn);
    }
    &-line3 {
      height: 20px;
      width: 3px;
      background-color: $color-secondary;
      position: relative;
      display: inline-block;
      left: 21px;
      bottom: 6px;
      transform: rotate(0.42turn);
    }
    &-line4 {
      height: 20px;
      width: 3px;
      background-color: $color-secondary;
      position: relative;
      display: inline-block;
      left: 33px;
      bottom: 12px;
      transform: rotate(0.46turn);
    }
  }
  .triangle1 {
    border-style: solid;
    border-width: 10px 0px 10px 10px;
    border-color: transparent transparent transparent $color-white;
    position: relative;
    display: inline-block;
    top: 26px;
    left: 20px;
  }
  .triangle2 {
    border-style: solid;
    border-width: 10px 10px 0px 10px;
    border-color: $color-white transparent transparent transparent;
    position: relative;
    display: inline-block;
    top: 10px;
    left: 15px;
  }
  .triangle3 {
    border-style: solid;
    border-width: 0px 10px 10px 10px;
    border-color: transparent transparent $color-secondary transparent;
    position: relative;
    display: inline-block;
    top: 32px;
    left: -5px;
  }
  .triangle4 {
    border-style: solid;
    border-width: 10px 10px 10px 0px;
    border-color: transparent $color-white transparent transparent;
    position: relative;
    top: 27px;
    left: -9px;
    display: inline-block;
  }
}
