@import "../../\ core/variables.scss";
.containerDesign {
  position: relative;
  bottom: 100px;
  margin-bottom: 50px;

  // margin-top: 50px;
  // display: inline-block;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // &__contentDesign {
  //   // display: flex;
  //   // flex-direction: row;
  //   // justify-content: center;
  //   // position: relative;
  //   // top: 70px;
  // }
  &__areaDevelop {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: $color-primary;
    z-index: 1;
    position: relative;
    display: inline-block;
    left: 18px;
    top: 45px;
  }
  &__stackDesign {
    width: 0px;
    height: 150px;
    right: 17px;
    // bottom: 100px;
    position: relative;
    display: inline-block;
    border-left: 2px dashed $color-primary;
    border-top: 0px dashed transparent;
    border-bottom: 2px solid transparent;
    &-line0 {
      position: relative;
      width: 20px;
      border: 2px solid $color-secondary;
      right: 11px;
      top: 54px;
    }
    &-line1 {
      position: relative;
      width: 20px;
      border: 2px solid $color-secondary;
      right: 12px;
      top: 29px;
    }
  }
  &__areaLinesAndBoxes {
    position: relative;
    right: 50px;
    top: 150px;
  }
  &__lineH1 {
    position: relative;
    width: 160px;
    height: 0;
    left: -24px;
    // display: inline-block;
    border: 1px solid $color-primary;
    border-bottom: transparent;
    border-left: transparent;
    border-right: transparent;
    &--box1 {
      height: 20px;
      width: 20px;
      background-color: $color-secondary;
      position: relative;
      display: inline-block;
      left: -20px;
      top: -12px;
    }
    &--box1B {
      height: 22px;
      width: 22px;
      border: 1px solid $color-primary;
      position: relative;
      display: inline-block;
      right: -140px;
      top: -12px;
    }
  }
  &__lineV2 {
    position: relative;
    // display: inline-block;
    // left: 50px;
    bottom: 40px;
    height: 40px;
    width: 0;
    border: 1px solid $color-primary;
    border-top: transparent;
    border-right: transparent;
    border-bottom: transparent;
    &--box2 {
      height: 20px;
      width: 20px;
      border: 1px solid $color-primary;
      display: inline-block;
      position: relative;
      right: 11px;
      top: -20px;
    }
  }
  &__lineV3 {
    position: relative;
    bottom: 85px;
    left: 110px;
    height: 90px;
    width: 0;
    border: 1px solid $color-primary;
    border-bottom: transparent;
    border-top: transparent;
    border-right: transparent;
    &--box3 {
      height: 30px;
      width: 30px;
      border: 1px solid $color-primary;
      position: relative;
      display: inline-block;
      left: -13px;
      top: -29px;
    }
    &--box3B {
      height: 20px;
      width: 20px;
      border: 1px solid $color-primary;
      position: relative;
      display: inline-block;
      bottom: -118px;
    }
  }
  &__lineD4 {
    position: relative;
    // display: inline-block;
    bottom: 133px;
    left: 123px;
    height: 50px;
    width: 0;
    border: 1px solid black;
    transform: rotate(-30deg);
    border-bottom: transparent;
    border-top: transparent;
    border-right: transparent;
    &--box4 {
      height: 13px;
      width: 13px;
      border: 1px solid black;
      position: relative;
      display: inline-block;
      bottom: -47px;
      right: 10px;
      transform: rotate(30deg);
    }
  }
}
