@import "../../\ core/variables.scss";
.containerArt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__circleArea {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: black;
    display: inline-block;
    z-index: 1;
    &-pointsArea {
      position: relative;
      display: inline-block;
      align-items: center;
      left: 10px;
      top: 10px;
      // height: 130px;
      // width: 130px;
      border-radius: 50%;
      &-list {
        position: relative;
        list-style-type: circle;
        display: inline-block;
        &-point1 {
          position: relative;
          left: 47px;
          bottom: 10px;
          list-style-image: url(../../../assets/images/point.svg);
        }
        &-point2 {
          position: relative;
          left: 56px;
          bottom: 22px;
          list-style-image: url(../../../assets/images/point.svg);
        }
        &-point3 {
          position: relative;
          left: 62px;
          bottom: 29px;
          list-style-image: url(../../../assets/images/point.svg);
        }
        &-point4 {
          position: relative;
          left: 62px;
          bottom: 34px;
          list-style-image: url(../../../assets/images/point.svg);
        }
        &-point5 {
          position: relative;
          left: 57px;
          bottom: 41px;
          list-style-image: url(../../../assets/images/point.svg);
        }
        &-point6 {
          position: relative;
          left: 48px;
          bottom: 53px;
          list-style-image: url(../../../assets/images/point.svg);
        }
        &-point7 {
          position: relative;
          left: 38px;
          bottom: 69px;
          list-style-image: url(../../../assets/images/point.svg);
        }
        &-point8 {
          position: relative;
          left: 27px;
          bottom: 88px;
          list-style-image: url(../../../assets/images/point.svg);
        }
        &-point9 {
          position: relative;
          left: 18px;
          bottom: 112px;
          list-style-image: url(../../../assets/images/point.svg);
        }
        &-point10 {
          position: relative;
          right: -11px;
          bottom: 139px;
          list-style-image: url(../../../assets/images/point.svg);
        }
        &-point11 {
          position: relative;
          left: 9px;
          bottom: 168px;
          list-style-image: url(../../../assets/images/point.svg);
        }
        &-point12 {
          position: relative;
          left: 12px;
          bottom: 197px;
          list-style-image: url(../../../assets/images/point.svg);
        }
        &-point13 {
          position: relative;
          left: 28px;
          bottom: 227px;
          list-style-image: url(../../../assets/images/point.svg);
        }
        &-point14 {
          position: relative;
          left: 1px;
          bottom: 227px;
          list-style-image: url(../../../assets/images/point.svg);
        }
        &-point15 {
          position: relative;
          left: 19px;
          bottom: 241px;
          list-style-image: url(../../../assets/images/point.svg);
        }
        &-point16 {
          position: relative;
          left: 37px;
          bottom: 264px;
          list-style-image: url(../../../assets/images/point.svg);
        }
      }
    }
    &-projects {
      position: relative;
      bottom: 250px;
      width: 140px;
      height: 12px;
      left: 140px;
      display: inline-block;
      border: 1px solid #040404;
      border-bottom: transparent;
      border-left: transparent;
      border-right: transparent;
      &-circle {
        position: relative;
        width: 180px;
        height: 180px;
        background-color: green;
      }
    }
  }

  &__stackArea {
    width: 0px;
    height: 150px;
    right: -2px;
    top: 0px;
    position: relative;
    display: inline-block;
    border-left: 2px dashed #040404;
    border-top: 0px dashed transparent;
    border-bottom: 2px solid transparent;

    &--line0 {
      position: relative;
      width: 20px;
      border: 2px solid #ff8f71;
      right: 11px;
      top: 50px;
    }
    &--line1 {
      position: relative;
      width: 20px;
      border: 2px solid #ff8f71;
      right: 11px;
      top: 75px;
    }
    &--line3 {
      position: relative;
      width: 20px;
      border: 2px solid #ff8f71;
      right: 11px;
      top: 100px;
    }
    &--line4 {
      position: relative;
      width: 20px;
      border: 2px solid #ff8f71;
      right: 11px;
      top: 125px;
    }
  }
  &__projects-lineH1 {
    position: relative;
    width: 88px;
    left: 38px;
    bottom: 235px;
    display: inline-block;
    border: 1px solid #040404;
    border-bottom: transparent;
    border-left: transparent;
    border-right: transparent;
    &-circle {
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background-color: #ff8f71;
      position: relative;
      display: inline-block;
      left: 88px;
      top: -10px;
    }
  }
  &__projects-lineH2 {
    position: relative;
    width: 85px;
    height: 20px;
    left: 38px;
    bottom: 24px;
    display: inline-block;
    border-bottom: 1px solid #040404;
    border-left: 1px solid #040404;
    border-right: transparent;
    &-circle2 {
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background-color: #ff8f71;
      position: relative;
      display: inline-block;
      left: 83px;
      top: 9px;
    }
  }
}
