@import "../../\ core/variables.scss";

/*Initial - develop*/
.container {
  display: flex;
  &__circleArea {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: $color-primary;
    z-index: 1;
    position: relative;
    bottom: 35px;
    left: -30px;
  }
  &__stackArea {
    width: 90px;
    height: 130px;
    border: 2px solid $color-primary;
    border-radius: 100px 0 0 100px;
    border-right: thin;
    border-left: 2px dashed $color-primary;
    border-top: 2px dashed $color-primary;
    border-bottom: 2px solid transparent;
    border-top: 2px dashed #040404;

    // width: 150px;
    // border-radius: 45%;
    // border-top: 2px dashed $color-primary;
    // border-top-right-radius: 48px;
    // position: relative;
    // display: inline-block;
    // transform: rotate(300deg);
    &-line0 {
      height: 25px;
      width: 3px;
      background-color: $color-primary;
      position: relative;
      display: inline-block;
      left: -2px;
      top: 34px;
      transform: rotate(0.25turn);
    }
    &-line1 {
      height: 25px;
      width: 3px;
      background-color: $color-secondary;
      position: relative;
      display: inline-block;
      left: 1px;
      bottom: -15px;
      transform: rotate(0.3turn);
    }
    &-line2 {
      height: 25px;
      width: 3px;
      background-color: $color-secondary;
      position: relative;
      display: inline-block;
      left: 9px;
      bottom: 2px;
      transform: rotate(0.86turn);
    }
    &-line3 {
      height: 25px;
      width: 3px;
      background-color: $color-secondary;
      position: relative;
      display: inline-block;
      left: 20px;
      bottom: 12px;
      transform: rotate(0.42turn);
    }
    &-line4 {
      height: 25px;
      width: 3px;
      background-color: $color-secondary;
      position: relative;
      display: inline-block;
      left: 33px;
      bottom: 17px;
      transform: rotate(0.46turn);
    }
  }
  .triangle1 {
    border-style: solid;
    border-width: 10px 0px 10px 10px;
    border-color: transparent transparent transparent $color-white;
    position: relative;
    display: inline-block;
    top: 30px;
    left: 25px;
  }
  .triangle2 {
    border-style: solid;
    border-width: 10px 10px 0px 10px;
    border-color: $color-white transparent transparent transparent;
    position: relative;
    display: inline-block;
    top: 15px;
    left: 20px;
  }
  .triangle3 {
    border-style: solid;
    border-width: 0px 10px 10px 10px;
    border-color: transparent transparent $color-secondary transparent;
    position: relative;
    display: inline-block;
    top: 35px;
  }
  .triangle4 {
    border-style: solid;
    border-width: 10px 10px 10px 0px;
    border-color: transparent $color-white transparent transparent;
    position: relative;
    top: 30px;
    left: -5px;
    display: inline-block;
  }
}
